header {
 background-color: #866565;
 color: #0a0a0a;
 padding: 10px;
 text-align: center;}
nav ul {
 list-style: none;
 padding: 0;
 display: flex;
 justify-content: center;
}
nav li {
 margin: 0 10px;
}
main {
 padding: 20px;
}

